@model QuanLySachKT.Models.Sach

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Sach</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenSach)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenSach)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LinhVu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LinhVu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CacTacGia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CacTacGia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NhaXB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NhaXB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NamXB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NamXB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LanTaiBan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LanTaiBan)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

<div class="form-actions no-color">
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        Xoa
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    E iu coa muon xoa hem
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Dong</button>
                    <button type="submit" class="btn btn-primary">Iem coa</button>
                </div>
            </div>
        </div>
    </div>
    @Html.ActionLink("Back to List", "Index")
</div>
    }
</div>
